fastapi
uvicorn[standard]
pydantic
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
faiss-cpu
sentence-transformers
langchain-text-splitters
rank_bm25
pypdf
turso_serverless
python-dotenv
